<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"><channel><title>Emilio Eiji</title><link>http://emilioeiji.com.br/</link><description>The power of root</description><lastBuildDate>Wed, 12 Sep 2018 12:30:00 -0300</lastBuildDate><item><title>Atualizando fontes no linux mint.</title><link>http://emilioeiji.com.br/atualizando-fontes-no-linux-mint.html</link><description>&lt;div class="section" id="comandinho-basico"&gt;
&lt;h2&gt;Comandinho básico.&lt;/h2&gt;
&lt;p&gt;Segue um comandinho básico para incluir novas fonts, mas que eu não tinha conhecimento por nunca ter precisado executar.&lt;/p&gt;
&lt;p&gt;No linux mint crie um diretório .fonts dentro do diretório home do usuário, no meu casso:&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;mkdir /home/emilio/.fonts
&lt;/pre&gt;&lt;/div&gt;
&lt;p&gt;Em seguida coloque os novos arquivos de fontes dentre …&lt;/p&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Wed, 12 Sep 2018 12:30:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2018-09-12:/atualizando-fontes-no-linux-mint.html</guid><category>linux</category><category>fonts</category><category>fc-cache</category></item><item><title>Gravar DVD do xbox 360 no linux.</title><link>http://emilioeiji.com.br/gravando-dvd-xbox360.html</link><description>&lt;div class="section" id="gravando-dvd-do-xbox360-via-linha-de-comando-no-linux"&gt;
&lt;h2&gt;Gravando DVD do XBOX360 via linha de comando no linux.&lt;/h2&gt;
&lt;p&gt;&lt;em&gt;Atenção&lt;/em&gt; Não testei esse procedimento ainda, mas estou plublicando para efetuar os testes posteriormente.&lt;/p&gt;
&lt;p&gt;Corrigindo o patch:&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abgx360 --af3 /path/to/game.iso
&lt;/pre&gt;&lt;/div&gt;
&lt;p&gt;Vamos gravar as imagens utilizando o terminal.&lt;/p&gt;
&lt;p&gt;XGD1/XGD2:&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;growisofs -use-the-force-luke&lt;span class="o"&gt;=&lt;/span&gt;dao -use-the-force-luke&lt;span class="o"&gt;=&lt;/span&gt;break:1913760 -dvd-compat -speed …&lt;/pre&gt;&lt;/div&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Wed, 30 May 2018 17:33:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2018-05-30:/gravando-dvd-xbox360.html</guid><category>xbox360</category><category>xbox</category><category>360</category><category>rip</category><category>growisofs</category><category>iso</category><category>gravar</category><category>dvd</category><category>linux</category></item><item><title>Subindo o blog para o servidor.</title><link>http://emilioeiji.com.br/subindo-blog-servidor.html</link><description>&lt;div class="section" id="id1"&gt;
&lt;h2&gt;Subindo o blog para o servidor.&lt;/h2&gt;
&lt;p&gt;A partir de agora estou utilizando o git para subir o blog nos servidores da hostgator.&lt;/p&gt;
&lt;p&gt;Primeiramente iniciei o repositório git com o comando:&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;git init
&lt;/pre&gt;&lt;/div&gt;
&lt;p&gt;O mesmo criou um ditório .git com os seus respectivos arquivos de configurações.&lt;/p&gt;
&lt;p&gt;Em seguida adicionei todos os …&lt;/p&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 28 May 2018 16:18:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2018-05-28:/subindo-blog-servidor.html</guid><category>git</category><category>linux</category><category>blog</category><category>pelican</category></item><item><title>SED - Alterar string em arquivos.</title><link>http://emilioeiji.com.br/sed-alterar-string-arquivos.html</link><description>&lt;div class="section" id="alterar-strig-em-varios-arquivos-utilizando-o-sed"&gt;
&lt;h2&gt;Alterar strig em vários arquivos utilizando o SED.&lt;/h2&gt;
&lt;p&gt;Estou reinstalando o Pelican para voltar a publicar algumas coisas no site e me deparei com a seguinte situação:
Após reinstalar o pelican e suas dependencias, ao tentar rodar o make html o mesmo estava retorando o erro abaixo:&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;CRITICAL: AttributeError: &lt;span class="s1"&gt;&amp;#39;str …&lt;/span&gt;&lt;/pre&gt;&lt;/div&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 28 May 2018 14:37:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2018-05-28:/sed-alterar-string-arquivos.html</guid><category>sed</category><category>linux</category></item><item><title>Voltando a publicar.</title><link>http://emilioeiji.com.br/voltando-a-publicar.html</link><description>&lt;div class="section" id="volta-aos-posts"&gt;
&lt;h2&gt;Volta aos posts.&lt;/h2&gt;
&lt;p&gt;Depois de 2 anos e alguns meses sem postar nada, estou voltando com o intuíto de fixar e aprendar novos conteúdos. Como muitas vezes acabo aprendendo algo novo e não registrando, acabo esquecendo em seguida. O blog vai me ajudar como ajudou no passado a fixar esses …&lt;/p&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 28 May 2018 12:00:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2018-05-28:/voltando-a-publicar.html</guid><category>off-topic</category></item><item><title>RAID via software no linux</title><link>http://emilioeiji.com.br/RAID-via-software-no-linux.html</link><description>&lt;p&gt;Olá pessoal.&lt;/p&gt;
&lt;p&gt;Hoje estou configurando um computador com o bacula e preciso configurar os HD's em RAID, como os backups ficarão armazenados local na maquina e em outro NAS vou configurá-los com RAID 0.&lt;/p&gt;
&lt;p&gt;Na maquina estou rodando o Debian portanto os comandos abaixo podem ser executados na maioria das …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 03 Sep 2015 12:40:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-09-03:/RAID-via-software-no-linux.html</guid><category>hd</category><category>raid</category></item><item><title>Criptografando HD Externo</title><link>http://emilioeiji.com.br/criptografando-hd-externo.html</link><description>&lt;p&gt;Olá pessoal.&lt;/p&gt;
&lt;p&gt;Como estou prestes a trocar o hd do meu notebook por um SSD e reduzindo muito o tamanho do disco, tive a necessidade de salvar os meus arquivos em um hd externo. Como tenho muitos arquivos &amp;quot;confidenciais&amp;quot; é de extrema importancia que os dados fiquem seguros em caso …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Wed, 19 Aug 2015 22:30:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-08-19:/criptografando-hd-externo.html</guid><category>criptografia</category><category>hd</category><category>externo</category></item><item><title>Gerenciamento Integrado de Servidores</title><link>http://emilioeiji.com.br/7gerenciamento-integrado-de-servidores.html</link><description></description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 10 Aug 2015 22:30:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-08-10:/7gerenciamento-integrado-de-servidores.html</guid><category>idrac</category><category>imm</category><category>ilo</category></item><item><title>70-410 - Introdução</title><link>http://emilioeiji.com.br/70-410-introducao.html</link><description>&lt;p&gt;Fala galera!!!&lt;/p&gt;
&lt;p&gt;Como já está marcado a prova para o exame 70-410 da Microsoft e não tem mais volta
já que foi debitado do meu cartão :p vou começar a postar a minha saga até o momento
da prova, pretendo postar dicas, como estou estudando e os conteúdos que estudei …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sun, 28 Jun 2015 18:50:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-06-28:/70-410-introducao.html</guid><category>mcsa</category><category>microsoft</category><category>windows</category><category>server</category><category>certificação</category></item><item><title>Flask - Página de Contato</title><link>http://emilioeiji.com.br/flask-pagina-contato.html</link><description>&lt;p&gt;Seguindo o post anterior sobre flask, vamos desenvolver uma paǵina de contatos.
Onde será preenchido algumas informações e encaminhado um e-mail e para isso vamos
usar um compelmento do flask chamado flask-wtf&lt;/p&gt;
&lt;pre class="literal-block"&gt;
Flask-WTF offers simple integration with WTForms. This integration includes optional CSRF handling for greater security.
&lt;/pre&gt;
&lt;p&gt;Pare efetuar a …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 25 May 2015 19:32:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-05-25:/flask-pagina-contato.html</guid><category>flask</category><category>python</category><category>programação</category></item><item><title>Flask - Introdução</title><link>http://emilioeiji.com.br/flask-introducao.html</link><description>&lt;p&gt;Depois que migrei o meu blog para o Pelican, procurei mais a fundo aprender sua estrutura,
pesquisando como funcionava seus templates etc. Com isso vi que o desenvolvimento
web com frameworks python fica muito mais fácil e dinamico surgindo interesse
no web2py e flask.&lt;/p&gt;
&lt;p&gt;A primeiro momento escolhi o flask …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sun, 24 May 2015 19:31:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-05-24:/flask-introducao.html</guid><category>flask</category><category>python</category><category>programação</category></item><item><title>Over The Wire - War Games Level 11 - 15</title><link>http://emilioeiji.com.br/over-the-wire-war-game-11-15.html</link><description>&lt;p&gt;Me empolguei nesse trem heim...&lt;/p&gt;
&lt;p&gt;A ultima senha que conseguimos foi &lt;strong&gt;IFukwKGsFW8MOq3IRFqrxE1hxTNEbUPR&lt;/strong&gt; para conectarmos
ao level 11, então bora continuar.&lt;/p&gt;
&lt;div class="section" id="level-11"&gt;
&lt;h2&gt;Level 11&lt;/h2&gt;
&lt;p&gt;Nesse nível a senha está cifrada pulando 13 carteres &amp;quot;&lt;a class="reference external" href="http://pt.wikipedia.org/wiki/Cifra_de_C%C3%A9sar"&gt;Cifra de Cesar&lt;/a&gt;&amp;quot;
contando pelo alfabeto padrão, então a letra A repectivamente se torna a letra N e assim …&lt;/p&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sat, 18 Apr 2015 13:31:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-04-18:/over-the-wire-war-game-11-15.html</guid><category>wargame</category><category>linux</category><category>hacker</category><category>hacking</category><category>seguranca</category></item><item><title>Over The Wire - War Games Level 6 - 10</title><link>http://emilioeiji.com.br/over-the-wire-war-game-6-10.html</link><description>&lt;p&gt;Fala galera!!! Vamos continuar subindo de level no Over The Wire.&lt;/p&gt;
&lt;div class="section" id="level-6"&gt;
&lt;h2&gt;Level 6&lt;/h2&gt;
&lt;p&gt;A partir daqui parece que a coisa está começando a ficar um pouco mais complexa,
estamos começando a usar comandos com alguns parametros, nada muito diferente do
&lt;a class="reference external" href="http://emilioeiji.com.br/over-the-wire-war-game-0-5.html"&gt;level 5&lt;/a&gt;
acrescentando apenas 2 parametros a mais.&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;bandit6@melinda …&lt;/pre&gt;&lt;/div&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sat, 18 Apr 2015 08:57:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-04-18:/over-the-wire-war-game-6-10.html</guid><category>wargame</category><category>linux</category><category>hacker</category><category>hacking</category><category>seguranca</category></item><item><title>Over The Wire - War Games Level 0 - 5</title><link>http://emilioeiji.com.br/over-the-wire-war-game-0-5.html</link><description>&lt;p&gt;Olá galera, já faz algum tempo que não posto nada aqui e como estou de férias e com
&amp;quot;tempo sobrando&amp;quot; resolvi distrair um pouco e brincar com aqueles 'War Games', pesquisando
um pouco encontrei o &lt;a class="reference external" href="http://overthewire.org/wargames/"&gt;Over The Wire&lt;/a&gt; ,
existem vários vídeos no youtube do Hacker GeoHot conseguindo
solucionar os vários …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 17 Apr 2015 23:34:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-04-17:/over-the-wire-war-game-0-5.html</guid><category>wargame</category><category>linux</category><category>hacker</category><category>hacking</category><category>seguranca</category></item><item><title>Instalando Debian Netinst</title><link>http://emilioeiji.com.br/instalando-debian-netinst.html</link><description>&lt;p&gt;Boas galera, como estou precisando instalar o Debian para estudos, abaixo vou mostrar
como fazer a instalação do &lt;a class="reference external" href="https://www.debian.org/CD/netinst/"&gt;netinst&lt;/a&gt; do zero.&lt;/p&gt;
&lt;p&gt;Para efetuar o download da iso clique &lt;a class="reference external" href="https://www.debian.org/distrib/netinst"&gt;aqui&lt;/a&gt;
e após o término do download podemos gravar a iso em um cd ou criaros um &lt;a class="reference external" href="http://emilioeiji.com.br/imagens-iso-no-pendrive.html"&gt;pendrive de boot&lt;/a&gt; .&lt;/p&gt;
&lt;p&gt;Em seguida …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sun, 29 Mar 2015 14:06:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-03-29:/instalando-debian-netinst.html</guid><category>linux</category><category>debian</category><category>100-linux</category><category>netinst</category><category>instalação</category><category>instalando</category></item><item><title>Hello World em Python vs Java vs C</title><link>http://emilioeiji.com.br/hello-world-em-python-vs-java-vs-c.html</link><description>&lt;p&gt;Olá Galera.&lt;/p&gt;
&lt;p&gt;Recentemente fui questionado porque eu estava estudando
Python e não Java, que seria a &amp;quot;linguagem mais utilizada, eficaz, etc. etc.&amp;quot;
Acredito que não exista linguagem de programação melhor que a outra
e sim a que melhor se encaixa em determinadas situações. Eu
como estou aprendendo programação apenas para …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 17 Mar 2015 20:30:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-03-17:/hello-world-em-python-vs-java-vs-c.html</guid><category>programação</category><category>python</category><category>java</category><category>C</category></item><item><title>Como alterar o sid do windows</title><link>http://emilioeiji.com.br/como-alterar-o-sid-do-windows.html</link><description>&lt;p class="first last"&gt;Alterar SID&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 10 Mar 2015 20:29:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-03-10:/como-alterar-o-sid-do-windows.html</guid><category>alterar</category><category>sid</category><category>windows</category><category>pstools</category><category>sysprep</category></item><item><title>Primeiro post no pelican</title><link>http://emilioeiji.com.br/primeiro-post-no-pelican.html</link><description>&lt;p&gt;Bom galera, estou tentando deixar o blog mais hardcore e
estou migrando do wordpress para pelican. Não que o WP seja ruim
ou não estivesse atendendo as minhas necessidades, mas como estou
engajado em aprender python nada melhor doque fazer tudo em python.&lt;/p&gt;
&lt;p&gt;Como base nessa empreitada me inspirei no …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sat, 07 Mar 2015 18:27:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-03-07:/primeiro-post-no-pelican.html</guid><category>pelican</category></item><item><title>Reiniciando serviços do windows remotamente através do linux</title><link>http://emilioeiji.com.br/reiniciando-servicos-windows-remotamente-atraves-linux.html</link><description>&lt;p&gt;Como puderam ver no post anterior, estou trabalhando na padronização
das rotinas de backups onde eu trabalho, estou utilizando a ferramenta
de backup bacula, fácil, versátil e muito poderosa.&lt;/p&gt;
&lt;p&gt;Com isso vou precisar desenvolver alguns scripts para facilitar os
meus backups. Atualmente no meu cenário tenho um servidor que que …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sat, 14 Feb 2015 21:23:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-02-14:/reiniciando-servicos-windows-remotamente-atraves-linux.html</guid><category>linux</category><category>net rpc</category><category>reiniciar</category><category>remoto</category><category>restart</category><category>serviço</category><category>serviços windows</category><category>windows services</category></item><item><title>Bacula - Ferramenta Livre de Backup</title><link>http://emilioeiji.com.br/bacula-ferramenta-livre-de-backup.html</link><description>&lt;p&gt;I aew pessoal...&lt;/p&gt;
&lt;p&gt;Como estou configurando um novo servidor de backup com o Bacula,
segue abaixo um livro pra quem quer dar uma geral na ferramenta.&lt;/p&gt;
&lt;p&gt;O nome do livro é:&lt;a class="reference external" href="https://books.google.com.br/books?id=P1unBAAAQBAJ&amp;amp;lpg=PA155&amp;amp;ots=1ju0sDX_L9&amp;amp;dq=bacula%20python&amp;amp;hl=pt-BR&amp;amp;pg=PP1#v=onepage&amp;amp;q&amp;amp;f=false"&gt;Bacula - Ferramenta Livre de
Backup.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Em breve postarei algumas dicas na configuração do servidor Bacula.&lt;/p&gt;
&lt;p&gt;Abraços&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 09 Feb 2015 20:10:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2015-02-09:/bacula-ferramenta-livre-de-backup.html</guid><category>backup</category><category>bacula</category><category>linux</category></item><item><title>Arduino - Controle central telefônica.</title><link>http://emilioeiji.com.br/arduino-controle-central-telefonica.html</link><description>&lt;p&gt;Controle central telefônica controlando relés via web e com sensor PIR.&lt;/p&gt;
&lt;p&gt;O código está disponível no
&lt;a class="reference external" href="https://github.com/emilioeiji/Arduino/blob/master/rele.ino"&gt;github&lt;/a&gt;.&lt;/p&gt;
&lt;p&gt;As bibliotecas estão disponíveis
&lt;a class="reference external" href="/arquivos/lib_arduino.rar"&gt;aqui.&lt;/a&gt;&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;&lt;span class="cp"&gt;#include&lt;/span&gt;
&lt;span class="cpf"&gt;#include &amp;quot;DHT.h&amp;quot;&lt;/span&gt;&lt;span class="cp"&gt;&lt;/span&gt;

&lt;span class="cp"&gt;#define DHTPIN A0&lt;/span&gt;
&lt;span class="cp"&gt;#define DHTTYPE DHT11&lt;/span&gt;

&lt;span class="n"&gt;DHT&lt;/span&gt; &lt;span class="nf"&gt;dht&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;DHTPIN&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="n"&gt;DHTTYPE&lt;/span&gt;&lt;span class="p"&gt;);&lt;/span&gt;

&lt;span class="kt"&gt;int&lt;/span&gt; &lt;span class="n"&gt;maxtemp&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="o"&gt;-&lt;/span&gt;&lt;span class="mi"&gt;100&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;&lt;span class="n"&gt;mintemp&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="mi"&gt;100&lt;/span&gt;&lt;span class="p"&gt;;&lt;/span&gt;
&lt;span class="kt"&gt;int&lt;/span&gt; &lt;span class="n"&gt;maxhum&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="o"&gt;-&lt;/span&gt;&lt;span class="mi"&gt;100&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="n"&gt;minhum&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="mi"&gt;100&lt;/span&gt;&lt;span class="p"&gt;;&lt;/span&gt;
&lt;span class="kt"&gt;int&lt;/span&gt; &lt;span class="n"&gt;hum&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="mi"&gt;35&lt;/span&gt;&lt;span class="p"&gt;;&lt;/span&gt;
&lt;span class="kt"&gt;int …&lt;/span&gt;&lt;/pre&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 12 Dec 2014 17:00:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-12-12:/arduino-controle-central-telefonica.html</guid><category>arduino</category><category>relé</category></item><item><title>Atualizando linux mint 17 para 17.1</title><link>http://emilioeiji.com.br/atualizando-linux-mint-17-para-17-1.html</link><description>&lt;p&gt;Boas galera.&lt;/p&gt;
&lt;p&gt;No vídeo abaixo segue os passos que segui para atualizar o linux mint 17
(Qiana) para 17.1 (Rebecca).&lt;/p&gt;
&lt;div class="youtube youtube-16x9"&gt;&lt;iframe src="https://www.youtube.com/embed/Mc5btmBvPI0" allowfullscreen seamless frameBorder="0"&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;p&gt;Como a base do linut mint continuou a mesma (ubuntu 14.04 lts) acredito
que a atualização via linha de comando seja segura.&lt;/p&gt;
&lt;p&gt;Segue os comandos executados:&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;&lt;span class="c1"&gt;# Verificando a …&lt;/span&gt;&lt;/pre&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 02 Dec 2014 12:17:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-12-02:/atualizando-linux-mint-17-para-17-1.html</guid><category>linux</category><category>linux mint</category></item><item><title>Segunda decepção com o DX - Peças Raspberry Pi</title><link>http://emilioeiji.com.br/segunda-decepcao-com-o-dx-pecas-raspberry-pi.html</link><description>&lt;p&gt;I aew galera...&lt;/p&gt;
&lt;p&gt;Hoje, após exatamente 59 dias chegou algumas peças que eu estava ansioso
esperando :p seriam elas 1 cabo de dados de 40 vias Fêmea-Fêmea
([STRIKEOUT:Que veio com a trava que prende o cabo ao conector
quebrada]) onde seria ligado na placa e no &lt;a class="reference external" href="http://www.dx.com/p/diy-t-style-40-pin-gpio-expansion-board-for-raspberry-pi-b-blue-344558#.VHEvOIWu7K8"&gt;RPI
GPiO&lt;/a&gt;
que …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sat, 22 Nov 2014 22:28:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-11-22:/segunda-decepcao-com-o-dx-pecas-raspberry-pi.html</guid><category>RaspberryPi</category><category>DX</category></item><item><title>RaspBerry Pi – Sensor de Distância Ultrassônico HC-SR04 tempo real.</title><link>http://emilioeiji.com.br/raspberry-pi-sensor-de-distancia-ultrassonico-hc-sr04-tempo-real.html</link><description>&lt;p&gt;Boa pessoal.&lt;/p&gt;
&lt;p&gt;Conforme havia comentado no post anterior ([STRIKEOUT:demorou pra
caramba!!!]) estou postando o scritp para utilizar com o HC-SR04 onde
retorna a distancia em tempo real, o esquema de ligação é o mesmo, a
única coisa que irá mudar é o script python.&lt;/p&gt;
&lt;p&gt;Igualmente ao script anterior tentarei …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sat, 22 Nov 2014 21:42:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-11-22:/raspberry-pi-sensor-de-distancia-ultrassonico-hc-sr04-tempo-real.html</guid><category>RaspberryPi</category><category>HC-SR04</category><category>Sensor</category></item><item><title>RaspBerry Pi - Sensor de Distância Ultrassônico HC-SR04</title><link>http://emilioeiji.com.br/raspberry-pi-sensor-de-distancia-ultrassonico-hc-sr04.html</link><description>&lt;p&gt;&lt;strong&gt;RaspBerry Pi - Sensor de Distância Ultrassônico HC-SR04&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;Galera, esse é o meu primeiro post com o RaspBerry Pi B+, nele vou
descrever como conseguir medir a distancia de algum objeto utilizando os
raspberry pi e o sensor ultrassônico HC-SR04.&lt;/p&gt;
&lt;p&gt;Você vai precisar de:&lt;/p&gt;
&lt;ol class="arabic simple"&gt;
&lt;li&gt;Raspberry Pi&lt;/li&gt;
&lt;li&gt;Sensor Ultrassônico HC-SR04&lt;/li&gt;
&lt;li&gt;Resistor de …&lt;/li&gt;&lt;/ol&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sun, 05 Oct 2014 23:17:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-10-05:/raspberry-pi-sensor-de-distancia-ultrassonico-hc-sr04.html</guid><category>RaspberryPi</category><category>HC-SR04</category><category>Sensor</category></item><item><title>Flash player em tela cheia com dois monitores no linux.</title><link>http://emilioeiji.com.br/flash-player-em-tela-cheia-com-dois-monitores-linux.html</link><description>&lt;p&gt;Um dos problemas que eu tive com o dual monitor foi a execução do flash
player em tela cheia com dois monitores no linux, quando executando
algum vídeo no segundo monitor e efetuasse qualquer ação no monitor
primário o vídeo voltava ao tamanho normal.&lt;/p&gt;
&lt;p&gt;Efetuando uma pesquisa encontrei uma maneira …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sun, 21 Sep 2014 23:51:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-09-21:/flash-player-em-tela-cheia-com-dois-monitores-linux.html</guid><category>dual monitor</category><category>linux mint</category><category>linux</category></item><item><title>100% Linux Parte 2</title><link>http://emilioeiji.com.br/100-linux-parte-2.html</link><description>&lt;div class="section" id="id1"&gt;
&lt;h2&gt;100% Linux Parte 2&lt;/h2&gt;
&lt;p&gt;Como postei &lt;a class="reference external" href="http://blog.emilioeiji.com.br/100-linux-parte-1/"&gt;aqui&lt;/a&gt;,
estou na batalha para me converter 100% em Linux e uma das minhas
dificuldades que consegui superar hoje, na verdade se eu
tivesse dado uma pesquisadinha mais a fundo teria conseguindo solucionar
antes, mas eu confesso que estava procrastinando] era o uso do …&lt;/p&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sun, 17 Aug 2014 00:55:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-08-17:/100-linux-parte-2.html</guid><category>linux</category><category>linux mint</category><category>pipelight</category><category>silverlight</category><category>100-linux</category></item><item><title>IT Certification Roadmap</title><link>http://emilioeiji.com.br/certification-roadmap.html</link><description>&lt;p&gt;A IT Certification Roadmap é uma ferramenta bem bacana disponibilizada
pela CompTIA onde de acordo com a categoria na area de TI que queira
atuar ela traça uma linha com as certificações disponíveis pela CompTIA.&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/Captura-de-tela-de-2014-08-15-005359.png"&gt;&lt;img alt="IT Certification Roadmap" src="http://emilioeiji.com.br/images/Captura-de-tela-de-2014-08-15-005359.png" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Para acessar o IT Certification Roadmap basta clicar
&lt;a class="reference external" href="http://certification.comptia.org/ExploreCareers/careerpaths/career_roadmap.aspx"&gt;aqui.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Para quem não conhece a &lt;a class="reference external" href="http://certification.comptia.org/"&gt;CompTIA …&lt;/a&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 15 Aug 2014 01:05:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-08-15:/certification-roadmap.html</guid><category>certificação</category></item><item><title>Easter Eggs com aptitude</title><link>http://emilioeiji.com.br/easter-eggs-com-aptitude.html</link><description>&lt;p&gt;Achei legalzinho esse&amp;nbsp;Easter Eggs com aptitude haoiuahoaiuaha então vou
compartilhar.&lt;/p&gt;
&lt;blockquote&gt;
&lt;a class="reference external" href="http://emilioeiji.com.br/images/Captura-de-tela-de-2014-08-08-115124.png"&gt;&lt;img alt="Captura de tela de 2014-08-08 11:51:24" src="http://emilioeiji.com.br/images/Captura-de-tela-de-2014-08-08-115124.png" /&gt;&lt;/a&gt;&lt;/blockquote&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 08 Aug 2014 11:53:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-08-08:/easter-eggs-com-aptitude.html</guid></item><item><title>Hackeando as bicicletas do Itau?</title><link>http://emilioeiji.com.br/hackeando-bicicletas-itau.html</link><description>&lt;p&gt;Boas galera.&lt;/p&gt;
&lt;p&gt;Vi a pouco esse vídeo onde mostra um especialista em segurança
conseguindo burlar o &lt;a class="reference external" href="http://ww2.itau.com.br/sustentabilidade/_/iniciativas/sociedade/mobilidade_urbana.html"&gt;Bike
Itau&lt;/a&gt;
(um tipo de iniciativa para promover o uso da bicicleta em pequenos
percursos, onde o usuário compra seus passes que dão direito de usar as
bikes), no vídeo abaixo o kra conseguiu …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 07 Aug 2014 00:29:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-08-07:/hackeando-bicicletas-itau.html</guid></item><item><title>LibreOffice Brasil</title><link>http://emilioeiji.com.br/libreoffice-brasil.html</link><description>&lt;p&gt;Animação bacana apresentando o LibreOffice feito por brasileiros e
produzida 100% com softwares opensource.&lt;/p&gt;
&lt;div class="youtube youtube-16x9"&gt;&lt;iframe src="https://www.youtube.com/embed/rYoLBPAGLbo" allowfullscreen seamless frameBorder="0"&gt;&lt;/iframe&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Wed, 30 Jul 2014 11:13:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-07-30:/libreoffice-brasil.html</guid><category>linux</category><category>libreoffice</category></item><item><title>Habilitar execução de scripts powershell</title><link>http://emilioeiji.com.br/habilitar-execucao-de-scripts-powershell.html</link><description>&lt;p&gt;Habilitar execução de scripts powershell no windows.&lt;/p&gt;
&lt;p&gt;Muito simples para habilitar a execução de scripts powershell no
windows.&lt;/p&gt;
&lt;p&gt;Execute &lt;em&gt;Get-ExecutionPolicy&lt;/em&gt; para saber se já está habilitado ou não.&lt;/p&gt;
&lt;p&gt;Em seguinte habilite a execução com o comando &lt;em&gt;Set-ExecutionPolicy
Unrestricted&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;Feito isso o windows já está habilitado para executar scripts
powershell, mas …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 27 Jun 2014 10:44:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-06-27:/habilitar-execucao-de-scripts-powershell.html</guid><category>windows</category><category>powershell</category></item><item><title>MySQL Vs. MS SQL</title><link>http://emilioeiji.com.br/mysql-vs-ms-sql.html</link><description>&lt;img alt="MySQL vs MSSQL" class="align-center" src="/images/mysqlvsmicsql.png" /&gt;
&lt;p&gt;&lt;strong&gt;MySQL Vs. MS SQL&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;Hoje estava assistindo ao treinamento do MS SQL 2012/2014 do meu amigo
Bruxo Alexandre =p e veio em minha mente quais as principais diferenças
entre os dois SGBDs (Sistema de Gerenciamento de Banco de Dados) Onde um
se sobressai ao outro.&lt;/p&gt;
&lt;p&gt;Para começar as duas …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 09 Jun 2014 11:24:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-06-09:/mysql-vs-ms-sql.html</guid><category>análise</category><category>mssql</category><category>mysql</category></item><item><title>Remover segurança reforçada do internet explorer win2k8 e win2k12</title><link>http://emilioeiji.com.br/remover-seguranca-reforcada-internet-explorer-win2k8-e-win2k12.html</link><description>&lt;p&gt;Remover segurança reforçada do internet explorer win2k8 e win2k12.&lt;/p&gt;
&lt;p&gt;Boas galera, essa parada de ficar pedindo sempre pra adicionar os sites
como sites seguros ou ficar bloqueando quando tentamos baixar alguma
coisa é muito chato, sei que a intenção é melhorar a segurança, mas para
usuários administradores o nível deveria …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 03 Jun 2014 13:45:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-06-03:/remover-seguranca-reforcada-internet-explorer-win2k8-e-win2k12.html</guid><category>windows 2008</category><category>windows 2012</category><category>windows server</category><category>internet explorer</category></item><item><title>Linux + Windows 8</title><link>http://emilioeiji.com.br/linux-windows-8.html</link><description>&lt;p&gt;Essa vai pra quem usa Linux + Windows 8&lt;/p&gt;
&lt;p&gt;Certamente quem tem os dois sistemas em dual boot já teve o problema de
iniciar o Linux e ao tentar acessar as partições NTFS retornar erro:&lt;/p&gt;
&lt;pre class="literal-block"&gt;
The disk contains an unclean file system (0, 0).
Metadata kept in Windows cache, refused to …&lt;/pre&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sat, 17 May 2014 09:26:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-05-17:/linux-windows-8.html</guid><category>linux</category><category>windows 8</category></item><item><title>Migrando de Hostinger .com para HostGator .com.br</title><link>http://emilioeiji.com.br/migrando-de-hostinger-com-para-hostgator-com-br.html</link><description>&lt;p&gt;Migrando de Hostinger .com para HostGator .com.br&lt;/p&gt;
&lt;p&gt;Estou migrando meu domínio emilioeiji.com para emilioeiji.com.br,
aproveitei que o dominio.com estava para expirar e como não estava
gostando da Hostinger resolvi mudar tudo =p, provedor e domínio ao mesmo
tempo.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;O painel.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;A hostinger utiliza um painel …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 16 May 2014 10:23:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-05-16:/migrando-de-hostinger-com-para-hostgator-com-br.html</guid><category>hostinger</category><category>hostgator</category></item><item><title>Simplesmente sensacional!!!</title><link>http://emilioeiji.com.br/simplesmente-sensacional.html</link><description>&lt;p&gt;Simplesmente sensacional!!!&lt;/p&gt;
&lt;div class="youtube youtube-16x9"&gt;&lt;iframe src="https://www.youtube.com/embed/7qkmGjWtG0w" allowfullscreen seamless frameBorder="0"&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;p&gt;Curti pra kralho esse tributo ao Led Zeppelin, uma das maiores bandas de
todos os tempos...&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 06 May 2014 23:56:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-05-06:/simplesmente-sensacional.html</guid><category>musica</category><category>led zeppelin</category><category>rock n roll</category></item><item><title>Linux Mint 16 - Google como mecanismo de pesquisa no firefox.</title><link>http://emilioeiji.com.br/linux-mint-16-google-como-mecanismo-de-pesquisa-firefox.html</link><description>&lt;div class="section" id="id1"&gt;
&lt;h2&gt;Linux Mint 16 - Google como mecanismo de pesquisa no firefox.&lt;/h2&gt;
&lt;p&gt;Ficou muito simples colocar o Google como mecanismo de pesquisa no
firefox, por padrão do linux mint o mecanismo padrão é o Startpage,
razoavelmente bom porém, está longe do google.&lt;/p&gt;
&lt;p&gt;Para colocar o google como padrão, acesse esse
&lt;a class="reference external" href="http://www.linuxmint.com/searchengines/anse.php?sen=Google&amp;amp;c=y"&gt;Link.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Após …&lt;/p&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Wed, 30 Apr 2014 22:19:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-04-30:/linux-mint-16-google-como-mecanismo-de-pesquisa-firefox.html</guid><category>firefox</category><category>google</category><category>linux mint</category><category>mecanismo</category><category>pesquisa</category><category>petra</category></item><item><title>100% Linux Parte 1</title><link>http://emilioeiji.com.br/100-linux-parte-1.html</link><description>&lt;div class="section" id="id1"&gt;
&lt;h2&gt;100% Linux Parte 1&lt;/h2&gt;
&lt;p&gt;Boas pessoal, nesse post vou descrever a minha luta para migrar meu
notebook 100% para linux. Bastante coisa já encontrei uma solução para
contornar e outras estou na luta ainda, vou tentar descrever abaixa a
minha saga =)&lt;/p&gt;
&lt;p&gt;Estou usando hoje o&lt;a class="reference external" href="http://www.linuxmint.com/"&gt;Linux Mint 16&lt;/a&gt; em um …&lt;/p&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 31 Mar 2014 13:52:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-03-31:/100-linux-parte-1.html</guid><category>100% linux</category><category>dia</category><category>filezilla</category><category>geany</category><category>keepass</category><category>linux</category><category>linux mint</category><category>moonlight</category><category>silverlight</category><category>transmission</category><category>virtualbox</category><category>xchat</category></item><item><title>Lucro das maiores empresas de tecnologia.</title><link>http://emilioeiji.com.br/lucro-das-maiores-empresas-de-tecnologia.html</link><description>&lt;div class="section" id="id1"&gt;
&lt;h2&gt;Lucro das maiores empresas de tecnologia.&lt;/h2&gt;
&lt;div class="section" id="abaixo-segue-uma-tabelinha-com-o-lucro-das-maiores-empresas-de-tecnologia-retirado-do-site-world-pay-zinc-na-tabela-converti-para-dia-e-mes-com-isso-temos-uma-nocao-melhor-do-lucro-dessas-empresas"&gt;
&lt;h3&gt;Abaixo segue uma tabelinha com o lucro das maiores empresas de tecnologia retirado do site &lt;a class="reference external" href="https://www.worldpayzinc.com/tech-wealth/"&gt;World Pay Zinc&lt;/a&gt;. Na tabela converti para dia e mês, com isso temos uma noção melhor do lucro dessas empresas.&lt;/h3&gt;
&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/Lucro.png"&gt;&lt;img alt="Lucro a cada 5 minutos" src="http://emilioeiji.com.br/images/Lucro-300x243.png" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;table border="1" class="docutils"&gt;
&lt;colgroup&gt;
&lt;col width="10%" /&gt;
&lt;col width="31%" /&gt;
&lt;col width="30%" /&gt;
&lt;col width="28%" /&gt;
&lt;/colgroup&gt;
&lt;tbody valign="top"&gt;
&lt;tr&gt;&lt;td&gt;&amp;nbsp;&lt;/td&gt;
&lt;td&gt;5 Min&lt;/td&gt;
&lt;td&gt;Dia&lt;/td&gt;
&lt;td&gt;Mês&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;LinkedIN&lt;/td&gt;
&lt;td&gt;$ &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; 255,00&lt;/td&gt;
&lt;td&gt;$&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; 73.440 …&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/div&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 21 Mar 2014 09:10:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2014-03-21:/lucro-das-maiores-empresas-de-tecnologia.html</guid><category>amazon</category><category>apple</category><category>curiosidades</category><category>ebay</category><category>empresas</category><category>facebook</category><category>google</category><category>hp</category><category>linkedin</category><category>lucro</category><category>microsoft</category><category>samsung</category><category>sony</category><category>tecnologia</category><category>yahoo</category></item><item><title>ERROR 29 (HY000): File 'arquivo.csv' not found (Errcode: 2)</title><link>http://emilioeiji.com.br/error-29-hy000-file-arquivo-csv-found-errcode-2.html</link><description>&lt;p&gt;Olá.&lt;/p&gt;
&lt;p&gt;Estava tentando efetuar a importação de um arquivo .csv direto na linha
de comando e estava me deparando com o seguinte erro: &amp;quot;ERROR 29 (HY000):
File 'arquivo.csv' not found (Errcode: 2)&amp;quot;&lt;/p&gt;
&lt;p&gt;O comando em questão era o seguinte:&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;&lt;span class="n"&gt;mysql&lt;/span&gt;&lt;span class="o"&gt;&amp;gt;&lt;/span&gt; &lt;span class="k"&gt;LOAD&lt;/span&gt; &lt;span class="n"&gt;DATA&lt;/span&gt; &lt;span class="k"&gt;INFILE&lt;/span&gt; &lt;span class="s1"&gt;&amp;#39;arquivo.csv&amp;#39;&lt;/span&gt;
&lt;span class="o"&gt;&amp;gt;&lt;/span&gt; &lt;span class="k"&gt;INTO&lt;/span&gt; &lt;span class="k"&gt;TABLE&lt;/span&gt; &lt;span class="n"&gt;cadastro&lt;/span&gt;
&lt;span class="o"&gt;&amp;gt;&lt;/span&gt; &lt;span class="n"&gt;FIELDS …&lt;/span&gt;&lt;/pre&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 27 Dec 2013 09:29:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-12-27:/error-29-hy000-file-arquivo-csv-found-errcode-2.html</guid><category>linux</category><category>mysql</category><category>mysql client</category></item><item><title>Remover vírus do Windows que cria atalho.</title><link>http://emilioeiji.com.br/remover-virus-windows-cria-atalho.html</link><description>&lt;p&gt;Boas pessoal...&lt;/p&gt;
&lt;p&gt;Neste post vou explicar de uma forma bem simples como remover vírus do
Windows que cria atalho, tanto na maquina como em pendrive.&lt;/p&gt;
&lt;p&gt;Primeiramente você pode baixar qualquer linux live cd, vou deixar aqui
como exemplo o &lt;a class="reference external" href="http://www.linuxmint.com/download.php"&gt;Linux Mint.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;De boot pelo cd/pendrive e logo que carregar …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 18 Oct 2013 17:38:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-10-18:/remover-virus-windows-cria-atalho.html</guid><category>windows</category><category>virus</category><category>remover</category></item><item><title>10 sintomas de computadores infectados</title><link>http://emilioeiji.com.br/10-sintomas-computadores-infectados.html</link><description>&lt;p&gt;A empresa de segurança digital Kaspersky Lab elaborou uma lista com os
dez sintomas mais comuns que indicam que algo malicioso está ocorrendo
no computador:&lt;/p&gt;
&lt;ul class="simple"&gt;
&lt;li&gt;&lt;strong&gt;Bloqueios inesperados:&lt;/strong&gt;&amp;nbsp;se alguma vez isto lhe aconteceu,
provavelmente já sabe que a tão temida tela azul é sinônimo de que
algo vai mal no …&lt;/li&gt;&lt;/ul&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 10 Sep 2013 10:04:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-09-10:/10-sintomas-computadores-infectados.html</guid><category>windows</category></item><item><title>Debian Wheezy + FluxBox</title><link>http://emilioeiji.com.br/debian-wheezy-fluxbox.html</link><description>&lt;div class="section" id="id1"&gt;
&lt;h2&gt;&lt;strong&gt;Debian Wheezy + FluxBox&lt;/strong&gt;&lt;/h2&gt;
&lt;p&gt;Olá galera, neste post vou mostrar a evolução do meu Debian Wheezy +
FluxBox , já vou adiantando que não sou nenhum expert em personalização,
portante criticas e sugestões são bem vindas =)&lt;/p&gt;
&lt;p&gt;Logo de inicio vou postar 2 prints que tirei, o primeiro eu já tinha
feito algumas modificações …&lt;/p&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 16 Jul 2013 14:16:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-07-16:/debian-wheezy-fluxbox.html</guid><category>linux</category><category>debian</category><category>wheezy</category><category>fluxbox</category></item><item><title>Imagens iso no pendrive</title><link>http://emilioeiji.com.br/imagens-iso-no-pendrive.html</link><description>&lt;p&gt;Segue dois programinhas bem legais para quem quer gravar imagens iso
no pendrive.&lt;/p&gt;
&lt;p&gt;É bem fácil de usar, praticamente modelo NNF =)&lt;/p&gt;
&lt;p&gt;Baixe aqui os dois
programinhas&amp;nbsp;&lt;a class="reference external" href="http://blog.emilioeiji.com.br/wp-content/uploads/2013/06/usb-iso.rar"&gt;usb-iso&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Para quem tiver alguma dificuldade com um desses dois programinhas e
utilizam o linux podemos fazer a mesma coisa com o comando &lt;strong&gt;dd …&lt;/strong&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Wed, 19 Jun 2013 09:50:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-06-19:/imagens-iso-no-pendrive.html</guid><category>linux</category><category>iso</category><category>dd</category><category>imagem</category></item><item><title>100 comandos para turbinar a utilização do vim.</title><link>http://emilioeiji.com.br/100-comandos-para-vim.html</link><description>&lt;p&gt;&lt;strong&gt;100 comandos para turbinar a utilização do vim.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/vim.jpg"&gt;&lt;img alt="vim" src="http://emilioeiji.com.br/images/vim-300x167.jpg" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Busca&lt;/strong&gt;&lt;/p&gt;
&lt;pre class="literal-block"&gt;
/palavra: Procura por “palavra” do início para o fim
?palavra: Procura por “palavra” do fim para o início
/Mari[oa]: Procura por “Mario” ou “Maria”
/&amp;lt;pal: Procura por expressões que começem com “pala” como, “palavra” ou “palíndromo”
/ismo&amp;gt;: Procura por expressões …&lt;/pre&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sun, 02 Jun 2013 20:49:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-06-02:/100-comandos-para-vim.html</guid><category>comandos vim</category><category>dicas</category><category>dicas vim</category><category>vim</category></item><item><title>Hospedagem Web Grátis</title><link>http://emilioeiji.com.br/hospedagem-web-gratis.html</link><description>&lt;p&gt;Daew pessoal.&lt;/p&gt;
&lt;p&gt;Para quem está procurando uma maneira fácil e sem custo para hospedar
seu site, vai uma dica.&lt;/p&gt;
&lt;p&gt;Utilize os serviços da Hostinger, painel de fácil configuração,
servidores 100% confiáveis.&lt;/p&gt;
&lt;p&gt;Você que interessou bastar acessar o o link abaixo para fazer o cadastro
e testar os serviços&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/logo-br.png"&gt;&lt;img alt="logo-br" src="http://emilioeiji.com.br/images/logo-br.png" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://api.hostinger.com.br/redir/1420688"&gt;Link&lt;/a&gt;&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 27 May 2013 08:44:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-05-27:/hospedagem-web-gratis.html</guid><category>hostinger</category></item><item><title>Atualizar DokuWiki</title><link>http://emilioeiji.com.br/atualizar-dokuwiki.html</link><description>&lt;p&gt;Daew galera...&lt;/p&gt;
&lt;p&gt;Hoje tive a necessidade de efetuar uma atualização do DokuWiki e
vasculhando na net achei uma dica muito rápida e prática do Guto
Carvalho&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://gutocarvalho.net/octopress/2013/05/20/dokuwiki-atualizando-versao/"&gt;Link&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Então é isso pessoal.&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 23 May 2013 09:12:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-05-23:/atualizar-dokuwiki.html</guid><category>atualizar</category><category>atualizar dokuwiki</category><category>dokuwiki</category></item><item><title>Vim abrir direto em uma determinada linha</title><link>http://emilioeiji.com.br/vim-abrir-direto-em-uma-determinada-linha.html</link><description>&lt;p&gt;Daew galera blz?&lt;/p&gt;
&lt;p&gt;Hoje estava tentando lembrar como fazia para abrir algum arquivo no vim
direto em um alinha, para tanto basta adicionar + e o numero da linha
desejada;&lt;/p&gt;
&lt;pre class="literal-block"&gt;
$ vim arquivo +123
&lt;/pre&gt;
&lt;p&gt;Pronto, conforme o exemplo acima o vim vai abrir o arquivo na linha 123, muito útil
para debugar …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Wed, 22 May 2013 16:49:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-05-22:/vim-abrir-direto-em-uma-determinada-linha.html</guid><category>abrir linha</category><category>linha</category><category>linux</category><category>vim</category><category>vim abrir linha</category></item><item><title>OpenFire - Excluir mensagens arquivadas no banco de dados (MySQL)</title><link>http://emilioeiji.com.br/openfire-excluir-mensagens-arquivadas-no-banco-de-dados-mysql.html</link><description>&lt;p&gt;Daew galera!!!&lt;/p&gt;
&lt;p&gt;Hoje tive problemas com o arquivamento de mensagens no openfire 3.8.1,
não sei oque aconteceu mas parou de arquivar as mensagens, tentei
reinstalar o plugin de monitoramento e nada então resolvi limpar as
tabelas relacionadas ao arquivamento para ver se resolvia e
aparentemente resolveu =p&lt;/p&gt;
&lt;p&gt;Vou …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 06 May 2013 16:33:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-05-06:/openfire-excluir-mensagens-arquivadas-no-banco-de-dados-mysql.html</guid><category>openfire</category><category>mysql</category><category>excluir</category><category>mensagens</category></item><item><title>Freenas (8.3.1) Rsync + Windows 2003</title><link>http://emilioeiji.com.br/freenas-8-3-1-rsync-windows-2003.html</link><description>&lt;div class="section" id="daew-galera"&gt;
&lt;h2&gt;Daew galera!!!&lt;/h2&gt;
&lt;p&gt;Recentemente comecei a testar o pfsense e como gostei muito do BDS estou
testando também o FreeNAS, a baixo vou descrever como testei o rsync com
windows 2003.&lt;/p&gt;
&lt;div&gt;&lt;/div&gt;&lt;/div&gt;
&lt;div class="section" id="instalando-rsync-windows-2003"&gt;
&lt;h2&gt;Instalando rSync Windows 2003.&lt;/h2&gt;
&lt;div&gt;&lt;p&gt;Primeiramente efetue o download do
DeltaCopy&amp;nbsp;&lt;a class="reference external" href="http://www.aboutmyip.com/AboutMyXApp/DeltaCopyDownloadInstaller.jsp"&gt;aqui!&lt;/a&gt;&amp;nbsp;e
efetue a instalação no modelo NNF.&lt;/p&gt;
&lt;/div&gt;&lt;div&gt;&lt;/div&gt;&lt;div style="clear: both; text-align: left;"&gt;&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/Print1.png"&gt;&lt;img alt="image0" src="http://emilioeiji.com.br/images/Print1.png" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;&lt;div style="clear: both; text-align: left;"&gt;&lt;/div&gt;&lt;div style="clear: both; text-align: left;"&gt;&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/Print2.png"&gt;&lt;img alt="image1" src="http://emilioeiji.com.br/images/Print2.png" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;&lt;div style="clear: both; text-align: center;"&gt;&lt;/div&gt;&lt;div style="clear: both; text-align: left;"&gt;&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/Print3.png"&gt;&lt;img alt="image2" src="http://emilioeiji.com.br/images/Print3.png" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;&lt;div style="clear: both; text-align: center;"&gt;&lt;/div&gt;&lt;div style="clear: both; text-align: left;"&gt;&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/Print4.png"&gt;&lt;img alt="image3" src="http://emilioeiji.com.br/images/Print4.png" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;&lt;div style="clear: both; text-align: left;"&gt;&lt;/div&gt;&lt;div style="clear: both; text-align: left;"&gt;&lt;p&gt;Após a …&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 03 May 2013 13:25:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-05-03:/freenas-8-3-1-rsync-windows-2003.html</guid><category>windows 2003</category><category>freenas</category><category>rsync</category></item><item><title>Citrix - The remote session was disconnected because there are no terminal server...</title><link>http://emilioeiji.com.br/citrix-the-remote-session-was-disconnected-because-there-are-no-terminal-server.html</link><description>&lt;p&gt;Pra quem estiver com o mesmo problema que eu, ao conectar a um servidor
utilizando o citrix retornar a mensagem &amp;quot;The Remote session was
disconnected because there are no terminal server license servers
available to provide a license. Please contact the server
administrator.&amp;quot;, segue a correção.&lt;/p&gt;
&lt;p&gt;Efetuar um backup do …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 28 Jan 2013 13:54:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2013-01-28:/citrix-the-remote-session-was-disconnected-because-there-are-no-terminal-server.html</guid><category>windows</category><category>citrix</category></item><item><title>Arduino - Semáforo interativo</title><link>http://emilioeiji.com.br/arduino-semaforo-interativo.html</link><description>&lt;p&gt;Daew pessoal!&lt;/p&gt;
&lt;p&gt;Testei o projeto do ebook que veio junto com o meu Arduino Uno Rev3,
nele podemos simular um semáforo interativo para pedestres, quando
pressionado o botão o semáforo para carros fecha e abre para os
pedestres.&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/semaforo_interativo_projeto.png"&gt;&lt;img alt="image0" src="http://emilioeiji.com.br/images/semaforo_interativo_projeto.png" /&gt;&lt;/a&gt;
Cricuito para o projeto.&lt;/p&gt;
&lt;p&gt;Código:&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;&lt;span class="c1"&gt;// Projeto Semaforo interativo&lt;/span&gt;

&lt;span class="kt"&gt;int&lt;/span&gt; &lt;span class="n"&gt;carRed&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="mi"&gt;12&lt;/span&gt;&lt;span class="p"&gt;;&lt;/span&gt;
&lt;span class="kt"&gt;int …&lt;/span&gt;&lt;/pre&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sat, 29 Sep 2012 15:49:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2012-09-29:/arduino-semaforo-interativo.html</guid><category>arduino</category><category>semaforo</category><category>led</category></item><item><title>Arduino Uno - Sensor LDR e LM35 apresentando informações no display 16x2</title><link>http://emilioeiji.com.br/arduino-uno-sensor-ldr-e-lm35-apresentando-informacoes-no-display-16x2.html</link><description>&lt;div style="clear: both; text-align: center;"&gt;&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/20120923_231707%5B1%5D.jpg"&gt;&lt;img alt="image0" src="http://emilioeiji.com.br/images/20120923_231707%5B1%5D.jpg" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;&lt;p&gt;Meu primeiro projeto com o Arduino Uno.&lt;/p&gt;
&lt;p&gt;Função: Apresentar no display 16x2 as informações obtidas pelos sensores LDR e LM35.&lt;/p&gt;
&lt;p&gt;Segue o código garimpado na net e adaptado para monitorar os dois sensores.&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;&lt;span class="cp"&gt;#include&lt;/span&gt; &lt;span class="cpf"&gt;&amp;lt;LiquidCrystal.h&amp;gt;&lt;/span&gt;&lt;span class="cp"&gt;&lt;/span&gt;

&lt;span class="n"&gt;LiquidCrystal&lt;/span&gt; &lt;span class="nf"&gt;lcd&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="mi"&gt;12&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="mi"&gt;11&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="mi"&gt;5&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="mi"&gt;4&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="mi"&gt;3&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="mi"&gt;2&lt;/span&gt;&lt;span class="p"&gt;);&lt;/span&gt;
&lt;span class="kt"&gt;int&lt;/span&gt; &lt;span class="n"&gt;pinoAnalogico&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="mi"&gt;3&lt;/span&gt;&lt;span class="p"&gt;;&lt;/span&gt;
&lt;span class="kt"&gt;int&lt;/span&gt; &lt;span class="n"&gt;pinoAnalogico2&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="mi"&gt;0 …&lt;/span&gt;&lt;/pre&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sun, 23 Sep 2012 23:25:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2012-09-23:/arduino-uno-sensor-ldr-e-lm35-apresentando-informacoes-no-display-16x2.html</guid><category>ardunio</category><category>sensor</category><category>lm35</category><category>display</category><category>ldr</category></item><item><title>Windows 7, dois monitores, dois papeis de parede.</title><link>http://emilioeiji.com.br/windows-7-dois-monitores-dois-papeis-de-parede.html</link><description>&lt;p&gt;Pesquisando hoje como definir um papel de parede para cada monitor,
encontrei um software que pode ser baixado
&lt;a class="reference external" href="http://www.displayfusion.com/Download/"&gt;aqui.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Após baixar o DisplayFusione instalá-lo, basta clicar com o botão
direito na area de trabalho e selecionar &amp;quot;Papel de parede do
DisplayFusion&amp;quot;.&lt;/p&gt;
&lt;p&gt;Fácil&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 10 Apr 2012 10:06:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2012-04-10:/windows-7-dois-monitores-dois-papeis-de-parede.html</guid><category>windows 7</category><category>windows</category><category>dual monitor</category></item><item><title>Linux mint 12 - Alterar ordem de boot</title><link>http://emilioeiji.com.br/linux-mint-12-alterar-ordem-de-boot.html</link><description>&lt;p&gt;Boas pessoal...&lt;/p&gt;
&lt;p&gt;Aqui vai um gerenciador simples do grub, com ele é possível alterar
facilmente a ordem de boot do seu linux.&lt;/p&gt;
&lt;p&gt;Para instalar basta executar o comando.&lt;/p&gt;
&lt;pre class="literal-block"&gt;
# apt-get install startupmanager
&lt;/pre&gt;
&lt;p&gt;E em seguida chamar o programa.&lt;/p&gt;
&lt;pre class="literal-block"&gt;
# sudo startupmanager
&lt;/pre&gt;
&lt;p&gt;Ira carregar a tela do programa com a lista de boot …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 01 Mar 2012 20:54:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2012-03-01:/linux-mint-12-alterar-ordem-de-boot.html</guid><category>grub</category><category>linux</category><category>linux mint</category></item><item><title>Pen Boot do Windows 7</title><link>http://emilioeiji.com.br/pen-boot-do-windows-7.html</link><description>&lt;p&gt;Se você estiver executando uma versão do windows 7, basta ir em iniciar,
executar e ditiar &lt;em&gt;diskpart&lt;/em&gt;.&lt;/p&gt;
&lt;p&gt;Com o pen drive conectado na nova janel que abriu execute o comando
&lt;em&gt;list disk&lt;/em&gt; para saber qual o numero de disco seu pendrive pegou.&lt;/p&gt;
&lt;p&gt;Cuidado para não informar o numero errado e …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 21 Feb 2012 17:19:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2012-02-21:/pen-boot-do-windows-7.html</guid><category>windows 7</category><category>penboot</category><category>pendrive</category><category>boot</category></item><item><title>Resetar senha de Root no debian Squeeze</title><link>http://emilioeiji.com.br/resetar-senha-de-root-no-debian-squeeze.html</link><description>&lt;p&gt;Na tela do &lt;em&gt;Grub&lt;/em&gt;, precione a tecla ' e '.&lt;/p&gt;
&lt;p&gt;Procure a linha parecida com esta:&lt;/p&gt;
&lt;div&gt;&lt;p&gt;linux /boot/vmlinuz-2.6.xx-x-xxx root=........ ...... ro quiet&lt;/p&gt;
&lt;/div&gt;&lt;div&gt;&lt;/div&gt;&lt;div style="clear: both; text-align: center;"&gt;&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/thumb_1328275626.imagem1.jpg"&gt;&lt;img alt="image0" src="http://emilioeiji.com.br/images/thumb_1328275626.imagem1.jpg" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;&lt;div&gt;&lt;p&gt;Acrescente o seguinte comando, no final da linha:&lt;/p&gt;
&lt;/div&gt;&lt;div&gt;&lt;p&gt;init=/bin/bash&lt;/p&gt;
&lt;/div&gt;&lt;p&gt;Exemplo:&lt;/p&gt;
&lt;div&gt;&lt;p&gt;linux /boot/vmlinuz-2.6.xx-x-xxx root=........ ...... ro quiet
init=/bin/bash&lt;/p&gt;
&lt;/div&gt;&lt;div&gt;&lt;/div&gt;&lt;div style="clear: both; text-align: center;"&gt;&lt;/div&gt;&lt;div style="clear: both; text-align: center;"&gt;&lt;p&gt;&lt;a class="reference external" href="http://emilioeiji.com.br/images/thumb_1328275626.imagem2.jpg"&gt;&lt;img alt="image1" src="http://emilioeiji.com.br/images/thumb_1328275626.imagem2.jpg" /&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;&lt;div&gt;&lt;/div&gt;&lt;div&gt;&lt;p&gt;Pressione: 'Ctrl+X', para continuar …&lt;/p&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Mon, 06 Feb 2012 09:28:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2012-02-06:/resetar-senha-de-root-no-debian-squeeze.html</guid><category>debian</category><category>linux</category><category>resetar</category><category>root</category></item><item><title>Linux - Remover linhas em branco de arquivo</title><link>http://emilioeiji.com.br/linux-remover-linhas-em-branco-de-arquivo.html</link><description>&lt;p&gt;Para remover as linhas em brando de um arquivo muito extenso, execute o
comando abaixo.&lt;/p&gt;
&lt;p&gt;No exemplo estou removendo as linhas do arquivo de configuração do
squid.&lt;/p&gt;
&lt;p&gt;Onde o /etc/squid/squid.temp e /etc/squid/squid.conf devem ser
alterados para o aquivo que desejam alterar.&lt;/p&gt;
&lt;pre class="literal-block"&gt;
egrep -v &amp;quot;^&amp;gt;\|^$&amp;quot; /etc …&lt;/pre&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 12 Jan 2012 10:15:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2012-01-12:/linux-remover-linhas-em-branco-de-arquivo.html</guid><category>linux</category></item><item><title>Problemas com cdrom Windows 7</title><link>http://emilioeiji.com.br/problemas-com-cdrom.html</link><description>&lt;p&gt;Daew galera.&lt;/p&gt;
&lt;p&gt;Quando tiverem problemas com Drive de CDrom no windows 7, tentem
executar esse fix que provavelmente resolva.&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://support.microsoft.com/mats/cd_dvd_drive_problems"&gt;http://support.microsoft.com/mats/cd_dvd_drive_problems&lt;/a&gt;&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 12 Jan 2012 09:56:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2012-01-12:/problemas-com-cdrom.html</guid><category>windows 7</category></item><item><title>Alterar senha do Cacti</title><link>http://emilioeiji.com.br/alterar-senha-do-cacti.html</link><description>&lt;p&gt;Retirado do &lt;a class="reference external" href="http://www.vivaolinux.com.br/dica/Alterar-a-senha-do-Cacti-via-console"&gt;Viva o
Linux&lt;/a&gt;
por Walber Santos&lt;/p&gt;
&lt;pre class="literal-block"&gt;
$ mysql -p cacti
&lt;/pre&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;&lt;span class="n"&gt;mysql&lt;/span&gt;&lt;span class="o"&gt;&amp;gt;&lt;/span&gt; &lt;span class="k"&gt;update&lt;/span&gt; &lt;span class="n"&gt;user_auth&lt;/span&gt; &lt;span class="kt"&gt;set&lt;/span&gt; &lt;span class="n"&gt;password&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="nf"&gt;MD5&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="s1"&gt;&amp;#39;novasenha&amp;#39;&lt;/span&gt;&lt;span class="p"&gt;)&lt;/span&gt; &lt;span class="k"&gt;where&lt;/span&gt;
&lt;span class="n"&gt;username&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="s1"&gt;&amp;#39;admin&amp;#39;&lt;/span&gt;&lt;span class="p"&gt;;&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;p&gt;De brinde: caso deseje forçar um usuário a trocar a senha no próximo
login :&lt;/p&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;&lt;span class="n"&gt;mysql&lt;/span&gt;&lt;span class="o"&gt;&amp;gt;&lt;/span&gt; &lt;span class="k"&gt;update&lt;/span&gt; &lt;span class="n"&gt;user_auth&lt;/span&gt; &lt;span class="kt"&gt;set&lt;/span&gt; &lt;span class="n"&gt;must_change_password&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="s1"&gt;&amp;#39;on&amp;#39;&lt;/span&gt; &lt;span class="k"&gt;where&lt;/span&gt;
&lt;span class="n"&gt;username&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="s2"&gt;&amp;quot;admin&amp;quot;&lt;/span&gt;&lt;span class="p"&gt;;&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;p&gt;Abraços&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 12 May 2011 14:06:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2011-05-12:/alterar-senha-do-cacti.html</guid><category>cacti</category><category>alterar senha</category><category>mysql</category><category>reset</category></item><item><title>PenDrive Bootável com Windows 7</title><link>http://emilioeiji.com.br/pendrive-bootavel-com-windows-7.html</link><description>&lt;p&gt;Procedimentos para preparar o pendriveAntes de começar, espete seu
pendrive na porta USB&lt;/p&gt;
&lt;ol class="arabic"&gt;
&lt;li&gt;&lt;p class="first"&gt;Abra o prompt de comando (Iniciar &amp;gt;&amp;gt; All Programs &amp;gt;&amp;gt; Acessories &amp;gt;&amp;gt;
Command Prompt).&lt;/p&gt;
&lt;/li&gt;
&lt;li&gt;&lt;p class="first"&gt;Digite os comandos abaixo, sempre pressionando Enter após cada um:&lt;/p&gt;
&lt;blockquote&gt;
&lt;pre class="literal-block"&gt;
Diskpart (Uma nova janela será aberta, espere até o cursor aparecer)
List Disk
Select Disk 1 …&lt;/pre&gt;&lt;/blockquote&gt;&lt;/li&gt;&lt;/ol&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 21 Apr 2011 11:46:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2011-04-21:/pendrive-bootavel-com-windows-7.html</guid><category>penboot</category><category>windows</category><category>windows 7</category><category>pendrive</category></item><item><title>Brincando de TI.</title><link>http://emilioeiji.com.br/brincando-de-ti.html</link><description>&lt;p&gt;I aew pessoal...&lt;/p&gt;
&lt;p&gt;Hj em dia da até pra brincar de ser TI ahuihauihauihuiha&lt;/p&gt;
&lt;p&gt;Segue o link:
&lt;a class="reference external" href="http://www.dicasgeraiss.com/2010/04/seja-um-tecnico-em-informatica-neste.html"&gt;http://www.dicasgeraiss.com/2010/04/seja-um-tecnico-em-informatica-neste.html&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Abraços&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 16 Apr 2010 11:19:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2010-04-16:/brincando-de-ti.html</guid></item><item><title>Debian Lenny em Desktop</title><link>http://emilioeiji.com.br/debian-lenny-em-desktop.html</link><description>&lt;p&gt;Sempre que faço uma nova instalação do Debian Lenny em um desktop, uso
essas dicas para deixá-lo mais perfeito do que já é. =)&lt;/p&gt;
&lt;div&gt;&lt;/div&gt;&lt;div&gt;&lt;p&gt;As dicas são de&amp;nbsp;Julio Cesar Bessa Monqueiroencontrados no site do &lt;a class="reference external" href="http://guiadohardware.net/"&gt;Guia
do Hardware&lt;/a&gt;&lt;/p&gt;
&lt;/p&gt;&lt;div&gt;&lt;/div&gt;&lt;div&gt;&lt;p&gt;&lt;a class="reference external" href="http://www.guiadohardware.net/tutoriais/debian-desktop/"&gt;**O básico para Debian Lenny no Desktop
(Atualizado)**&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;&lt;div&gt;&lt;/div&gt;&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Sun, 21 Mar 2010 11:57:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2010-03-21:/debian-lenny-em-desktop.html</guid></item><item><title>Documentação Debian</title><link>http://emilioeiji.com.br/documentacao-debian.html</link><description>&lt;p&gt;&lt;a class="reference external" href="http://www.debian.org/doc/manuals/debian-reference/index.pt-br.html"&gt;Guida de
Referencia.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://www.debian.org/releases/stable/i386/index.html.pt_BR"&gt;Guia de
Instalção.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://www.debian.org/doc/manuals/securing-debian-howto/index.pt-br.html"&gt;Manual de
Segurança.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://www.debian.org/doc/manuals/apt-howto/index.pt-br.html"&gt;Manual do
APT.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Font: &lt;a class="reference external" href="http://www.vivaolinux.com.br/"&gt;Viva o linux&lt;/a&gt; /
&lt;a class="reference external" href="http://www.debian.org/"&gt;Debian.org&lt;/a&gt;&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 18 Mar 2010 14:31:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2010-03-18:/documentacao-debian.html</guid></item><item><title>Debian - Desativar boot modo gráfico.</title><link>http://emilioeiji.com.br/debian-desativar-boot-modo-grafico.html</link><description>&lt;p&gt;Dica boa para quem quer remover o boot pelo modo gráfico no Debian.&lt;/p&gt;
&lt;p&gt;Para desativar digite o seguinte comando:&lt;/p&gt;
&lt;pre class="literal-block"&gt;
update-rc.d -f gdm remove
&lt;/pre&gt;
&lt;p&gt;(Lembrando que terá que substituir pelo
gerenciado de seu ambiente gráfico (GDM, XDM, KDM))&lt;/p&gt;
&lt;p&gt;Para ativar o boot&lt;/p&gt;
&lt;pre class="literal-block"&gt;
update-rc.d -f gdm defaults
&lt;/pre&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 16 Mar 2010 23:32:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2010-03-16:/debian-desativar-boot-modo-grafico.html</guid><category>linux</category><category>debian</category></item><item><title>10 Dicas para profissionais na area de informatica.</title><link>http://emilioeiji.com.br/10-dicas-para-profissionais-na-area-de-informatica.html</link><description>&lt;p&gt;Este artigo foi escrito por Jack Wallen para o site TechRepublic.Com e,
na minha opinião, é muito importante para profissionais de informática,
tanto os novos como os mais experientes. Ele trata, de maneira clara e
eficiente, de alguns erros que podemos cometer no decorrer de nosso
trabalho que podem …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Fri, 12 Mar 2010 15:17:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2010-03-12:/10-dicas-para-profissionais-na-area-de-informatica.html</guid></item><item><title>Analisar Processos Do Windows</title><link>http://emilioeiji.com.br/analisar-processos-do-windows.html</link><description>&lt;p&gt;Ao abrir o gestor de tarefas (CTRL+ALT+DEL ou CTRL+SHIFT+ESC) para
verificar os processos que correm no seu computador, certamente já se
deparou com processos &amp;quot;estranhos&amp;quot; que você desconhece. Ao pesquisar na
Internet sobre esses mesmos processos rapidamente encontra vários sites
afirmando que se trata de um …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Wed, 03 Mar 2010 13:46:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2010-03-03:/analisar-processos-do-windows.html</guid><category>windows</category><category>processos</category></item><item><title>10 Semelhanças entre a internet e o pênis.</title><link>http://emilioeiji.com.br/10-semelhancas-entre-a-internet-e-o-penis.html</link><description>&lt;p&gt;&lt;strong&gt;Do ponto de vista feminino:&lt;/strong&gt;&lt;/p&gt;
&lt;div class="line-block"&gt;
&lt;div class="line"&gt;&lt;br /&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;ol class="arabic simple"&gt;
&lt;li&gt;A primeira vez que você usa, não obtém quase nenhum prazer.&lt;/li&gt;
&lt;/ol&gt;
&lt;div class="line-block"&gt;
&lt;div class="line"&gt;&lt;br /&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;p&gt;2. Primeiro você tem um pouco de medo, mas isso te excita, então,
quando você se familiariza com ela, sua forma, jeito, você aprende com
ela e ela te ensina.&lt;/p&gt;
&lt;div class="line-block"&gt;
&lt;div class="line"&gt;&lt;br /&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;p&gt;3. Gradualmente foi se …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Wed, 03 Mar 2010 13:38:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2010-03-03:/10-semelhancas-entre-a-internet-e-o-penis.html</guid><category>off-topic</category></item><item><title>O computador é do sexo feminino???</title><link>http://emilioeiji.com.br/o-computador-e-do-sexo-feminino.html</link><description>&lt;p&gt;1) Assim que se arranja um, aparece outro melhor na esquina mais
próxima.&lt;/p&gt;
&lt;p&gt;2) Ninguém, além do Criador, é capaz de entender a sua lógica interna.
(Muito boa!)&lt;/p&gt;
&lt;p&gt;3) Mesmo os erros mais pequeninos que você cometa são guardados na
memória para futura referência. (Esta é fatal!)&lt;/p&gt;
&lt;p&gt;4) A linguagem …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Wed, 06 Jan 2010 15:55:00 -0200</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2010-01-06:/o-computador-e-do-sexo-feminino.html</guid></item><item><title>LAMP com Debian Lenny (Ambiente Simples para Testes)</title><link>http://emilioeiji.com.br/lamp-com-debian-lenny-ambiente-simples-para-testes.html</link><description>&lt;p&gt;&lt;strong&gt;Instalando o apache2:&lt;/strong&gt;&lt;/p&gt;
&lt;pre class="literal-block"&gt;
apt-get install apache2 apache2-doc apache2-mpm-prefork
apache2-utils libexpat1 ssl-cert
&lt;/pre&gt;
&lt;p&gt;&lt;strong&gt;Instalando Suporte ao PHP5 no apache:&lt;/strong&gt;&lt;/p&gt;
&lt;pre class="literal-block"&gt;
apt-get install libapache2-mod-php5 php5 php5-common php5-curl
php5-dev php5-gd php5-idn php-pear php5-imagick php5-imap php5-json
php5-mcrypt php5-memcache php5-mhash php5-ming php5-mysql php5-ps
php5-pspell php5-recode php5-snmp php5-sqlite php5-tidy php5-xmlrpc
php5-xsl
&lt;/pre&gt;
&lt;p&gt;&lt;strong&gt;Edite o arquivo *dir.conf*&lt;/strong&gt;&lt;/p&gt;
&lt;pre class="literal-block"&gt;
vim /etc …&lt;/pre&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 17 Sep 2009 16:31:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2009-09-17:/lamp-com-debian-lenny-ambiente-simples-para-testes.html</guid><category>lamp</category><category>debian</category><category>linux</category><category>mysql</category><category>apache</category><category>php</category></item><item><title>Colocando musica inteira como toque no iPhone</title><link>http://emilioeiji.com.br/colocando-musica-inteira-como-toque-no-iphone.html</link><description>&lt;p&gt;O processo é muito simples, mas deve ser executado com anteção para
poder dar certo.&lt;/p&gt;
&lt;ol class="arabic simple"&gt;
&lt;li&gt;Abra o iTunes e selecione a musica que deseja deixar como toque.&lt;/li&gt;
&lt;li&gt;Clique com o botão direito na musica e em seguida no botão
&lt;em&gt;Informações.&lt;/em&gt;&lt;/li&gt;
&lt;li&gt;Vá até a aba opções e habilite o &lt;em&gt;Iníci&lt;/em&gt;o …&lt;/li&gt;&lt;/ol&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 17 Sep 2009 16:10:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2009-09-17:/colocando-musica-inteira-como-toque-no-iphone.html</guid></item><item><title>Mantendo seu servidor com data e hora atualziados utilizando o protocolo NTP</title><link>http://emilioeiji.com.br/mantendo-seu-servidor-com-data-e-hora-atualziados-utilizando-o-protocolo-ntp.html</link><description>&lt;p&gt;Uma dica boa e simples para deixar seu servidor ou desktop com data e
hora atualizado, é utilizar o protocolo NTP.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Instalação:&lt;/strong&gt;&lt;/p&gt;
&lt;pre class="literal-block"&gt;
apt-get install ntpdate ntp-doc ntp ntp-doc
&lt;/pre&gt;
&lt;p&gt;Verifique o fuso com o seguinte comando:&lt;/p&gt;
&lt;pre class="literal-block"&gt;
cat /etc/timezone
&lt;/pre&gt;
&lt;p&gt;Caso deseje alterar, utilize:&lt;/p&gt;
&lt;pre class="literal-block"&gt;
dpkg-reconfigure tzdata
&lt;/pre&gt;
&lt;p&gt;E selecione a opção desejada.&lt;/p&gt;
&lt;p&gt;O …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Thu, 17 Sep 2009 15:33:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2009-09-17:/mantendo-seu-servidor-com-data-e-hora-atualziados-utilizando-o-protocolo-ntp.html</guid><category>ntp</category><category>linux</category><category>hora</category></item><item><title>As 10 melhores coisas para se dizer quando for pego dormindo no trabalho</title><link>http://emilioeiji.com.br/as-10-melhores-coisas-para-se-dizer-quando-for-pego-dormindo-no-trabalho.html</link><description>&lt;p&gt;&lt;strong&gt;1.&lt;/strong&gt;“Eles me disseram no banco de sangue que isso poderia
acontecer.”&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;2.&lt;/strong&gt; “Isto é só um cochilo de 15 minutos para recuperar as energias,
como foi ensinado naquele curso de gerenciamento do tempo que vocês me
mandaram fazer.”&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;3.&lt;/strong&gt; “Eu estava imaginando como é a vida de um cego …&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Emilio</dc:creator><pubDate>Tue, 28 Jul 2009 09:29:00 -0300</pubDate><guid isPermaLink="false">tag:emilioeiji.com.br,2009-07-28:/as-10-melhores-coisas-para-se-dizer-quando-for-pego-dormindo-no-trabalho.html</guid></item></channel></rss>