{% extends 'autenticacao_base.html' %}

{% load widget_tweaks %}

{% block title %} Recupere sua senha {% endblock %}

{% block content %}
    <div class="col-xl-8">
        <div class="row justify-content-center">
            <form action="." method="post">
                {% csrf_token %}

                <div class="col-8 p-3 m-3">
                    <div class="row g-3 align-items-center mb-4">
                        <div class="col-auto">
                            {% render_field form.new_password1 class+='form-control' placeholder="Digite sua nova senha" %}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center mb-5">
                        <div class="col-auto">
                            {% render_field form.new_password2 class+='form-control' placeholder="Confirme sua senha." %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Alterar minha senha.</button>

                </div>
            </form>
        </div>
    </div>

{% endblock %}