{% extends 'autenticacao_base.html' %}

{% load widget_tweaks %}

{% block title %} Recupere sua senha {% endblock %}

{% block content %}
    <div class="col-xl-8">
        <div class="row justify-content-center">
            <div class="card col-sm-10 col-lg-8 my-5 p-sm-0">
                <div class="card-header bg-light">
                    <h2 class="text-success">Mudança de Senha</h2>
                </div>

                <div class="card-body">
                    <p>Nós encaminharemos um email contendo as instruções para recuperação de senha.
                    <p>Se você não receber um email em brev, por favor checkar se o email foi digitado corretamente.</p></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}