{% extends 'blog_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Blog Emilio Eiji {% endblock %}

{% block content %}
    <div class="col-xl-8">
        <div class="row">
            <div class="col-lg-8 d-flex">
                {% include 'fragments/card_base.html' with post=posts.0 %}
            </div>

            <!-- Ajustar após criação de app de Quizz -->
            <div class="col-lg-4 d-none d-sm-flex" hx-get="quiz/" hx-trigger="load">
                {% include 'quiz/quiz.html' %}
            </div>

        </div>

        <hr class="my-4">

        <div class="container bg-dark py-2 d-flex justify-content-center rounded">
            <spa>
                <h1 class="text-info">Posts recentes</h1>
            </spa>
        </div>

        <hr class="my-4">

        <div class="row row-cols-1 row-cols-md-2 g-4">

            {% for post in posts|slice:"1:5" %}
            <div class="col d-flex">
                {% include 'fragments/card_base.html' with post=post %}
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'fragments/footer.html' %}
{% endblock %}